<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatos.Properties.Settings.BDDRESTAURANTEConnectionString"
            connectionString="Data Source=CHARLIE\SQLEXPRESS;Initial Catalog=BDDRESTAURANTE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>